* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

body {
    font-family: "Manrope", sans-serif;
    /* position: relative; */
    /* width: 1440px; */
    /* height: 4117px; */
    background: #FAFAFA;
}

/* navbar */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 115px;

    /* position: absolute; */
    width: 1200px;
    height: 76px;
    /* margin-left: 120px; */
    margin-top: 56px;
}

.navleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px;

    width: 239px;
    height: 76px;

}

.nav .logo {
    width: 76px;
    height: 76px;
}

.nav .title {
    width: 142px;
    height: 44px;
}

.nav .title h2 {

    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

    color: #2B2B2B;
}

.navright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 79px;

    width: 846px;
    height: 55px;
}

.navright .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 48px;

    width: 621px;
    height: 25px;
}

nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2B2B2B;
}

nav ul li {
    list-style: none;
}

.button a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px 12px 42px;
    gap: 10px;
    text-decoration: none;

    width: 146px;
    height: 55px;

    background: #FF6600;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/* Home */
.home {
    margin-top: 127px;
}

.homecontent {
    display: flex;
    flex-direction: column;
    height: 475px;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 120px; */
    margin-right: auto;
    gap: 91px;
}

.homeimg img {
    width: 739px;
    height: 390px;
}

.homecontentleft {
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.homelcontent {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 36px;
}

.homelcontent h3 {

    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    /* or 73px */
    color: #2B2B2B;
}

.homesmcontent {
    width: 448px;
}

.homesmcontent p {

    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #5B5B5B;
}

.homebutton {
    display: flex;
    gap: 20px;
    margin-left: auto;
    width: 490px;
}

.homebtn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 208px;
    height: 64px;
    background: #FF6600;
    border-radius: 10px;
}

.homebtn1 a {
    width: 91px;
    height: 22px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.homebtn2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 208px;
    height: 64px;
    border: 1px solid #FF6600;
    border-radius: 10px;
}

.homebtn2 a {
    width: 87px;
    height: 22px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;

    /* Dark/Black */

    color: #2B2B2B;
}

/* Clients */
.client {
    margin-top: 166px;
}

.clients {
    display: flex;
    justify-content: center;
    gap: 48px;
    /* margin-left: 120px; */
}

.span {
    border-right: 2px solid #C0C5D2;
}

.clients img {
    width: 169px;
    height: 43px;
}

/* About US */
.about {
    margin-top: 165px;
}

.aboutcontent {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.aboutleft {
    margin-left: 105px;
}

.aboutleft img {
    width: 546px;
    height: 331px;
}

.aboutl h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    color: #2B2B2B;
}

.aboutright {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    padding: 0px;
    width: 639px;
    height: 378px;
}

.aboutright .aboutsm {
    width: 555px;
}

.aboutright .aboutsm p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: #5B5B5B;
}

.resimg {
    display: none;
}

.aboutinfo {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 639px;
    /* height: 132px; */
    background: #FFFFFF;
    box-shadow: 0px 2px 9px 4px rgba(239, 235, 235, 0.25);
}

.info1,
.info2,
.info3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    gap: 8px;
}

.alpha h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #5B5B5B;
}

.digit h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #FF6600;
}

.infospan {
    height: 80px;
    border-right: 3px solid #FF6600;
}

/* Our interests */
.interests {
    margin-top: 158px;
}

.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.intitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.intitleb {
    width: 339px;
    height: 68px;
}

.intitleb h3 {
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    color: #2B2B2B;
}

.intitlesm {
    width: 765px;
    height: 108px;
}

.intitlesm p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #5B5B5B;
}

.intarticle {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 1197px;
    height: 386px;
}

.intarticle article {
    width: 379px;
    height: 386px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 44px 40px;
}

.arcontent {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.artopcontent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.artopcontent img {
    width: 70px;
    height: 70px;
}

/* .artoptitle{
    display: none;
} */
.artopdowncontent {
    display: none;
}

.artopb {
    width: 263px;
    height: 38px;
}

.artopcontent h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #2B2B2B;
}

.artopsm {
    width: 299px;
    height: 87px;
}

.artopcontent p {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */

    color: #5B5B5B;
}

.ardowncontent a {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-decoration: none;
    /* or 32px */

    color: #FF6600;
}

/* Our Values */
.values {
    margin-top: 140px;
}

.value {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.valueleft {
    width: 513.86px;
    height: 352.19px;
    margin-left: 161px;
}

.valueright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.valtitleb {
    width: 275px;
    height: 68px;
}

.valtitleb h3 {
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;


    color: #2B2B2B;
}

.valtitlesm {
    width: 614px;
    height: 108px;
}

.valtitlesm p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;

    color: #5B5B5B;
}

.valbbutton {
    width: 161px;
    height: 54px;
}

.valbbutton a {
    padding: 14px;
    background: #FF6600;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    width: 91px;
    height: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

}

/* Current Project */
.project {
    margin-top: 180px;
}

.prcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.prtitle {
    width: 429px;
    height: 68px;
}

.prtitle h3 {
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    /* identical to box height, or 68px */
    color: #2B2B2B;
}

.prarticle {
    display: flex;
    text-align: left;
    gap: 30px;
}

.prarticle article {
    width: 380px;
    height: 590px;
}

.prcontent1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.prtitleb {
    width: 263px;
    height: 84px;
}

.prtitleb1,
.prtitleb2,
.prtitleb3 {
    display: none;
}

.prtitlesm1,
.prtitlesm2,
.prtitlesm3 {
    display: none;
}

.prcontent1 .learnmore {
    display: none;
}

.prtitleb h4 {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    color: #2B2B2B;
}

.prtitlesm {
    width: 355px;
    height: 72px;
}

.prtitlesm p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;

    color: #5B5B5B;
}

.prtitlesm span {
    color: #FF6600;
}

/* Footer */
.footer {
    margin-top: 144px;
}

.footercontent {
    height: 302px;
    background: #2B2B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.footerlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.flogo img {
    width: 63px;
    height: 63px;
}

.fname h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

    color: #FFFFFF;
}

.footericon {
    display: flex;
    gap: 24px;
}

.footericon img {
    height: 30px;
}

.footermenu {
    display: flex;
    gap: 40px;
}

.footermenu h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

.footerdesign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbtn {
    cursor: pointer;
    display: none;
}

.checkbtn img {
    width: 29px;
    height: 24px;
}

#check {
    display: none;
}

/* Responsive */
@media screen and (max-width: 376px) {

    /* nav */
    .nav {
        margin: 0;
        width: auto;
        height: auto;
        gap: 169px;
        margin-top: 44px;
        align-items: flex-start;
    }

    .navright {
        height: 0;
    }

    .checkbtn {
        display: block;
    }

    .navleft {
        width: auto;
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav .logo {
        width: auto;
        height: auto;
    }

    .nav .logo img {
        height: 44px;
        width: 44px;
        margin-left: 16px;
    }

    .nav .title {
        width: 91px;
        height: 33px;
    }

    .nav .title h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        margin-top: 5px;

        color: #2B2B2B;
    }

    .toggle {
        margin-right: 16px;
    }

    .checkbtn img {
        margin-top: 10px;
        width: 29px;
        height: 24px;
    }

    .navright {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.9);
        position: relative;
        height: 0vh;
        width: 375px;
        position: absolute;
        top: 100px;
        left: 0;
        gap: 0;
        transition: all 0.7s;
    }

    .navright .menu {
        flex-direction: column;
        width: auto;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .navright .menu a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        font-size: 17px;
        display: block;
    }

    .navright .menu a:hover {
        color: #FF6600;
    }

    .button a {
        display: none;
    }

    /* Home */
    .home {
        margin-top: 50px;
    }

    .homecontent {
        height: auto;
        margin-left: 18px;
        /* gap: 30px; */
    }

    .homecontentleft {
        width: 323px;
        height: 141px;
        order: 1;
    }

    .homebutton {
        order: 3;
    }

    .homeimg {
        order: 2;
    }

    .homeimg img {
        width: 309px;
        height: 164px;
    }

    .homelcontent {
        gap: 20px;
    }

    .homelcontent h3 {
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
        /* or 47px */

        text-align: center;
    }

    .homesmcontent {
        width: 321px;
        height: 50px;
    }

    .homesmcontent p {
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        /* or 25px */

        text-align: center;
    }

    .homebutton {
        width: 342px;
        height: 48px;
        gap: 7px;
    }

    .homebtn1 {
        padding: 12px 16px;
        gap: 8px;

        width: 161px;
        height: 48px;

        /* Color/Primary */

        background: #FF6600;
        border-radius: 10px;
    }

    .homebtn1 a {
        width: 80px;
        height: 19px;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .homebtn1 span {
        margin-left: 10px;
    }

    .homebtn2 {
        padding: 16px;
        gap: 8px;

        width: 161px;
        height: 48px;

    }

    .homebtn2 a {
        width: 76px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
    }

    /* Clients */
    .client {
        margin-top: 48px;
    }

    .clients {
        gap: 28px;
    }

    .clients img {
        width: 50.46px;
        height: 12.84px;
    }

    .span {
        display: none;
    }

    /* About us */
    .about {
        margin-top: 25px;
    }

    .aboutcontent {
        flex-direction: column;
    }

    .aboutleft {
        display: none;
    }

    .resimg {
        display: block;
    }

    .resimg img {
        width: 375px;
        height: 249px;
    }

    .aboutright {
        height: auto;
        gap: 16px;
        width: auto;
        align-items: center;
    }

    .aboutl {
        width: 350px;
        height: 31px;
    }

    .aboutl h3 {

        font-weight: 800;
        font-size: 24px;
        line-height: 130%;
        /* or 31px */

        text-align: center;
        letter-spacing: 0.016em;

    }

    .aboutright .aboutsm {
        width: 360px;
        height: 66px;
    }

    .aboutright .aboutsm p {
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        /* or 22px */
        padding: 0 15px;
        text-align: center;
        letter-spacing: 0.016em;
    }

    .aboutinfo {
        flex-direction: column;
        width: 360px;
        gap: 0;
    }

    .info1,
    .info2,
    .info3 {
        flex-direction: row-reverse;
        width: 200px;
        justify-content: flex-end;
        gap: 30px;
    }

    .alpha h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }

    .digit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 45px;

        /* Shade/Orange shade */

        background: #FFEDE6;
        border-radius: 6px;
    }

    .digit h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }

    .infospan {
        height: auto;
        width: 340px;
        border-right: none;
        border-bottom: 2px solid #FF6600;
    }

    /* interests */
    .interests {
        margin-top: 48px;
    }

    .interest {
        gap: 18px;
    }

    .intitle {
        gap: 16px;
    }

    .intitleb {
        width: auto;
        height: auto;
    }

    .intitleb h3 {
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
    }

    .intitlesm {
        width: 340px;
        height: auto;
    }

    .intitlesm p {
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        /* or 22px */

        text-align: center;
        letter-spacing: 0.016em;
    }

    .intarticle {
        flex-direction: column;
        width: auto;
        height: auto;
        gap: 24px;
    }

    .intarticle article {
        width: 343px;
        height: auto;
        padding: 24px 24px;
    }

    .artopcontent {
        flex-direction: row;
        gap: 16px;
    }

    .artoptitle {
        display: flex;
        flex-direction: column;
    }

    .ardowncontent {
        display: none;
    }

    .artopdowncontent {
        display: block;
        width: 83px;
        height: 25px;
    }

    .artopdowncontent a {
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        text-decoration: none;
        color: #FF6600;
    }

    .artopcontent img {
        width: 48px;
        height: 48px;
    }

    .artopb {
        width: 175px;
        height: 25px;
    }

    .artopcontent h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        align-items: center;
        letter-spacing: 0.016em;

    }

    .artopsm {
        width: 190px;
        height: 42px;
    }

    .artopcontent p {
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        align-items: center;
        letter-spacing: 0.016em;

    }

    .artopsm span {
        display: none;
    }

    .artoptitle {
        display: flex;
        gap: 12px;
    }

    /* Values */
    .values {
        margin-top: 48px;
    }

    .value {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .valueleft {
        margin-left: auto;
        width: auto;
        height: auto;
    }

    .valueleft img {
        width: 375px;
        height: 274.06px;
    }

    .valueright {
        align-items: center;
        gap: 16px;
    }

    .valtitleb {
        width: auto;
        height: auto;
    }

    .valtitleb h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
    }

    .valtitlesm {
        width: 341px;
        height: 88px;
    }

    .valtitlesm p {
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        text-align: center;
    }

    .valbbutton {
        width: auto;
        height: 48px;
        margin-top: 16px;
    }

    .valbbutton a {
        width: 161px;
        height: 48px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Projects */
    .project {
        margin-top: 48px;
    }

    .prcontent {
        gap: 24px;
    }

    .prtitle {
        width: auto;
        height: 31px;
        text-align: center;
    }

    .prtitle h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 130%;

        color: #FF6600;
    }

    .prarticle {
        flex-direction: column;
        gap: 40px;
    }

    .prarticle article {
        width: 343px;
        height: 460px;
    }

    .prcontent1 {
        gap: 16px;
    }

    .primg img {
        width: 343px;
        height: 274px;
    }

    .prtitleb {
        display: none;
    }

    .prtitlesm {
        display: none;
    }

    .prtitleb1,
    .prtitleb2,
    .prtitleb3 {
        display: block;
        width: 263px;
        height: 72px;
    }

    .prtitleb1 h4,
    .prtitleb2 h4,
    .prtitleb3 h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        /* or 36px */

        display: flex;
        align-items: center;
        letter-spacing: 0.016em;
    }

    .prtitlesm1,
    .prtitlesm2,
    .prtitlesm3 {
        display: block;
        width: 343px;
        height: 44px;
    }

    .prtitlesm1 p,
    .prtitlesm2 p,
    .prtitlesm3 p {
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        /* or 22px */

        display: flex;
        align-items: center;
        letter-spacing: 0.016em;
    }

    .prcontent1 .learnmore {
        display: block;
        width: 106px;
        height: 22px;
    }

    .prcontent1 .learnmore a {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        display: flex;
        align-items: center;
        letter-spacing: 0.016em;
        color: #FF6600;
    }

    /* Footer */
    .footer {
        margin-top: 32px;
        width: 375px;
        height: 376px;
    }

    .footercontent {
        width: 375px;
        height: 376px;
    }

    .flogo img {
        width: 62.64px;
        height: 62.64px;
    }

    .footericon img {
        width: 36px;
        height: 36px;
    }

    .footermenu {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .footermenu h4 {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}